@model  IEnumerable<EF_Store.Domain.Product>
    @{
        ViewData["Title"] = "Index";
    }
  @using StorePhoneAPI.Filters
  
  <h1>GetProducts</h1>

    <p>
        @Html.ActionLink("Create new product", "Create", new {})
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MemorySize)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Provider)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           @ProductsHelper.PrintProducs(Model);
        </tbody>
    </table>
